:root {
  --tab-border-radius: 0px !important;
  --tab-outline: none !important;
  --tab-block-margin: 0px !important;
  --tab-inline-padding: 4px !important;
  --tab-overflow-clip-margin: 0px !important;

  --urlbar-margin-inline: 0px !important;
}

:root {
  --navigator-toolbox-height: 40px;
  --nav-bar-height: 40px;
  --tabs-toolbar-height: 40px;
  --personal-toolbar-height: 30px;
  --one-line-width: 50vw;
}

#navigator-toolbox {
  min-height: var(--navigator-toolbox-height) !important;
}
#nav-bar {
  min-height: var(--nav-bar-height) !important;
}
#TabsToolbar {
  min-height: var(--tabs-toolbar-height) !important;
}
#PersonalToolbar {
  min-height: var(--personal-toolbar-height) !important;
}


/* one-line */
@media (min-width: 800px) {
  #TabsToolbar {
    margin-left: var(--one-line-width) !important;
  }
  #nav-bar {
    margin-right: calc(100vw - var(--one-line-width)) !important;
  }

  #nav-bar {
    background: transparent !important;
    margin-top: calc(-1 * var(--nav-bar-height)) !important;
  }

  #nav-bar-customization-target,
  #PanelUI-button,
  #nav-bar > * {
    margin-top: calc(var(--nav-bar-height) - var(--navigator-toolbox-height)) !important;
  }

  #urlbar-container {
    width: auto !important;
  }

  #urlbar-container:has(#urlbar[breakout-extend=true]) {
    position: absolute !important;
    top: 0px !important;
    left: 10vw !important;
    width: 80vw !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
  }
}

.private-browsing-indicator-with-label > label,
.titlebar-spacer {
  display: none !important;
}


#navigator-toolbox {
  border: none !important;
  border-bottom: solid #202020 1px !important;
}

#PersonalToolbar {
  background: rgba(20, 20, 20, 0.8) !important;
  padding-inline: 0px !important;
  opacity: 0;
  margin-top: calc(-1 * var(--personal-toolbar-height)) !important;
  animation: anim-up 0.1s linear;
}

#navigator-toolbox:hover #PersonalToolbar,
#navigator-toolbox:focus-within #PersonalToolbar,
#PersonalToolbar:has(toolbarbutton[open=true]) {
  opacity: 1;
  margin-top: 0px !important;
  animation: anim-down 0.1s linear;
}

@keyframes anim-up {
  0% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes anim-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes anim-spawn {
  0% {
    transform: scale(0.0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes anim-spawn-1 {
  0% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.0);
  }
}

tab.tabbrowser-tab {
  border-radius: 0.5rem !important;
}

.tab-close-button {
  border-radius: 0.5rem !important;
}

.toolbarbutton-badge-stack,
.toolbarbutton-icon {
  border-radius: 0.5rem !important;
}

tab.tabbrowser-tab[selected="true"] {
  max-width: 100% !important;
}

tab.tabbrowser-tab {
  animation: anim-spawn 0.3s linear;
}

toolbarbutton.bookmark-item[open="true"] > menupopup {
  animation: anim-spawn-1 0.1s linear;
}

#appMenu-popup[animating="true"], #appMenu-popup[panelopen="true"] {
  animation: anim-spawn-1 0.2s linear;
}

#tab-preview-panel[animating="true"], #tab-preview-panel[panelopen="true"] {
  animation: anim-spawn-1 0.2s linear;
}

#urlbar-container[breakout=true] {
  min-height: 0px !important;
}
