@media (min-width: 800px) {
  #TabsToolbar {
    margin-left: 50vw !important;
  }

  #nav-bar {
    margin-right: 50vw !important;
    margin-top: -40px !important;
    border: none !important;
    background: transparent !important;
  }

  #urlbar-container {
    width: auto !important;
  }

  #urlbar-container:has(#urlbar[breakout-extend=true]) {
    position: absolute !important;
    top: 0px !important;
    left: 10vw !important;
    width: 80vw !important;
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
  }
}

.private-browsing-indicator-with-label > label,
.titlebar-spacer {
  display: none !important;
}

#navigator-toolbox {
  border: none !important;
  border-bottom: solid #202020 1px !important;
}

#PersonalToolbar {
  background: rgba(20, 20, 20, 0.8) !important;
  padding-inline: 0px !important;
  height: 0px !important;
}

#navigator-toolbox:hover #PersonalToolbar,
#navigator-toolbox:focus-within #PersonalToolbar,
#PersonalToolbar:has(toolbarbutton[open=true]) {
  height: auto !important;
}


@keyframes anim-spawn {
  0% {
    transform: scale(0.0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes anim-spawn-1 {
  0% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.0);
  }
}

tab.tabbrowser-tab {
  animation: anim-spawn 0.3s linear;
}

toolbarbutton[open="true"] > menupopup {
  animation: anim-spawn-1 0.1s linear;
}

#appMenu-popup[animating="true"], #appMenu-popup[panelopen="true"] {
  animation: anim-spawn-1 0.2s linear;
}

#tab-preview-panel[animating="true"], #tab-preview-panel[panelopen="true"] {
  animation: anim-spawn-1 0.2s linear;
}

:root {
  --tab-border-radius: 0px !important;
  --tab-outline: none !important;
  --tab-block-margin: 0px !important;
  --tab-inline-padding: 4px !important;
  --tab-overflow-clip-margin: 0px !important;

  --urlbar-margin-inline: 0px !important;
}

#urlbar-container[breakout=true] {
  min-height: 0px !important;
}
