spawn-at-startup "uwsm" "app" "--" "fcitx5" "-d"
spawn-at-startup "uwsm" "app" "--" "noctalia"

xwayland-satellite {
    off
    // path "xwayland-satellite"
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 250
        repeat-rate 50
    }
    touchpad {
        dwt
        tap
        accel-speed 0.3
    }
    mouse {
        accel-speed -0.6
    }
    focus-follows-mouse max-scroll-amount="0%"
}

prefer-no-csd

layout {
    gaps 0
    background-color "#002233"
    always-center-single-column
    center-focused-column "never"
    default-column-display "tabbed"

    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.8
    }
    default-column-width {
        proportion 0.8
    }
    preset-window-heights {
        proportion 0.3
        proportion 0.5
        proportion 0.8
    }
    border {
        width 1
        active-color "#e07020ee"
        inactive-color "#292999a0"
    }
    focus-ring {
        off
    }
    shadow {
        color "#3399ffff"
    }
    tab-indicator {
        hide-when-single-tab
    }
    insert-hint {
        color "#3399aac0"
    }
}

blur {
    off
    passes 3
    offset 3.0
    noise 0.02
    saturation 1.5
}

overview {
    zoom 0.5
    backdrop-color "#001122"

    workspace-shadow {
        off
        softness 40
        spread 10
        offset x=0 y=0
        color "#00000050"
    }
}

recent-windows {
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#e07020ee"
        urgent-color "#292999a0"
        padding 1
        corner-radius 0
    }

    previews {
        max-scale 0.5
    }

    binds {
        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}


window-rule {
    clip-to-geometry true
    draw-border-with-background false
    geometry-corner-radius 0
}

window-rule {
    match is-floating=true

    background-effect {
        xray false
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}


screenshot-path "~/pers/media/imgs/screenshots/%Y-%m-%d_%H-%M-%S.png"

binds {
    Mod+Shift+Q { quit; }
    Mod+Shift+R { spawn "niri" "msg" "action" "reload-config"; }
    Mod+Shift+Slash { show-hotkey-overlay; }


    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Shift+Print { screenshot-window; }

    Mod+P { screenshot; }
    Mod+Ctrl+P { screenshot-screen; }
    Mod+Shift+P { screenshot-window; }


    F11 { fullscreen-window; }
    Shift+F11 { maximize-window-to-edges; }

    Mod+Q { close-window; }
    Mod+F { toggle-window-floating; }
    Mod+O { toggle-overview; }
    Mod+C { center-window; }

    Mod+M { fullscreen-window; }
    Mod+Shift+M { maximize-window-to-edges; }
    Mod+W { maximize-column; }
    Mod+Shift+W { switch-preset-column-width; }
    Mod+Ctrl+W { reset-window-height; }
    Mod+Ctrl+Shift+W { switch-preset-window-height; }

    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Shift+BracketLeft { expel-window-from-column; }
    Mod+Shift+BracketRight { consume-window-into-column; }
    Mod+BackSlash { toggle-column-tabbed-display; }


    XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMute allow-when-locked=true { spawn "noctalia" "msg" "volume-mute"; }
    XF86AudioMicMute allow-when-locked=true { spawn "noctalia" "msg" "mic-mute"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down"; }
    XF86AudioPlay allow-when-locked=true { spawn "noctalia" "msg" "media" "toggle"; }
    XF86AudioPause allow-when-locked=true { spawn "noctalia" "msg" "media" "toggle"; }
    XF86AudioStop allow-when-locked=true { spawn "noctalia" "msg" "media" "stop"; }
    XF86AudioNext allow-when-locked=true { spawn "noctalia" "msg" "media" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "noctalia" "msg" "media" "previous"; }


    Mod+Escape { spawn "noctalia" "msg" "panel-toggle" "session"; }
    Mod+X { spawn "noctalia" "msg" "session" "lock"; }
    Mod+R { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+S { spawn "noctalia" "msg" "panel-toggle" "control-center" "system"; }

    Mod+T repeat=false { spawn "uwsm" "app" "--" "kitty"; }
    Mod+V repeat=false { spawn-sh "cliphist list | uwsm app -- wofi --dmenu | cliphist decode | wl-copy"; }
    Mod+B repeat=false { spawn "uwsm" "app" "--" "firefox"; }
    Mod+Shift+B repeat=false { spawn "uwsm" "app" "--" "firefox" "--private-window"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }
    Mod+Shift+0 { move-window-to-workspace 10; }


    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-window-up; }
    Mod+J { focus-window-down; }
    // Mod+K { focus-workspace-up; }
    // Mod+J { focus-workspace-down; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+J { move-window-down; }
    // Mod+Shift+K { move-window-to-workspace-up; }
    // Mod+Shift+J { move-window-to-workspace-down; }

    Alt+Tab { focus-window-down-or-column-right; }
    Alt+Shift+Tab { focus-window-up-or-column-left; }

    Mod+Alt+H { set-column-width "-10"; }
    Mod+Alt+L { set-column-width "+10"; }
    Mod+Alt+K { set-window-height "-10"; }
    Mod+Alt+J { set-window-height "+10"; }

    // Mod+Tab { ; }
    // Mod+Shift+Tab { ; }

}
