.notification-popups {
  background: transparent;
  margin: 1rem;
  min-width: 0;
  min-height: 0;
}

.notification-icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.notification-icon image {
  font-size: 4rem;
  margin: 5px;
  color: #EEAAEE;
}

.notification-icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification-popup {
  min-width: 350px;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #EEAAEE;
  background: #202020;
}

.notification-critical {
  border: 1px solid #EE9999;
}

.notification-title {
  color: #EE55EE;
  font-size: 1.4rem;
}

.notification-body {
  color: #A090C0;
}

.notification-actions .notification-action-button {
  margin: 0 0.4rem;
  margin-top: 0.8rem;
}

.notification-actions .notification-action-button:first-child {
  margin-left: 0;
}

.notification-actions .notification-action-button:last-child {
  margin-right: 0;
}
