window {
    background-color: rgba(0, 0, 0, 0.75);
    color: #D0D0D0;
    font-family: sans-serif;
}

frame {
    background: #101020;
}

entry {
    background-color: rgba(0, 0, 0, 0.75);
}
entry:focus {
    background-color: rgba(49, 50, 68, 0.8);
}

button {
    background-color: rgba(0, 0, 0, 0.75);
    color: #E0E0E0;
    border: none;
    border-radius: 3px;
}
button:hover {
    background-color: rgba(180, 190, 254, 0.9);
}
button:active {
    background-color: rgba(116, 199, 236, 0.9);
}

button.toggle {
    background: #202040;
}

label {
    font-size: 14px;
    color: rgba(205, 214, 244, 0.85);
}
