@-moz-document url("about:home"), url("about:newtab") {
    html, body {
        background: transparent !important;
    }

    button.search-handoff-button {
        background-color: rgba(0, 0, 0, 0.7) !important;
        color: white !important;
    }
}

@-moz-document url("about:privatebrowsing") {
    html, body {
        background: transparent !important;
    }

    html.private {
        --in-content-page-background: transparent !important;
    }

    html.private p#info-body {
        visibility: hidden;
    }

    html.private p#info-body::before {
        content: "Hello, World!" !important;
        visibility: visible !important;
    }

    button.search-handoff-button {
        background-color: rgba(0, 0, 0, 0.7) !important;
        color: white !important;
    }
}
