* {
  all: unset;
  font-family: "ComicShannsMono Nerd Font Mono";
  font-size: 1.5rem;
}

.bar {
  background: rgba(20, 20, 20, 0.7);
  color: #E0E0E0;
  border-radius: 0.4rem;
  min-height: 2.5rem;
  padding: 0.25rem;
  margin: 3px;
}


.bar-clock {
  color: #AAEEDD;
  margin: 0 0.4rem 0 0.4rem;
}


.bar-battery {
  margin: 0 0.4rem 0 0.4rem;
}

.bar-battery-critical {
  color: #EE2222;
}

.bar-battery-low {
  color: #EEAA22;
}

.bar-battery-middle {
  color: #22AA22;
}

.bar-battery-high {
  color: #22EE22;
}


.bar-network {
  color: #6666DD;
  margin: 0 0.4rem 0 0.4rem;
}


.bar-bluetooth {
  color: #3636EE;
  margin: 0 0.4rem 0 0.4rem;
}


.bar-audio {
  color: #CCAA36;
  margin: 0 0.4rem 0 0.4rem;
}


.bar-title {
  color: #2244AA;
  font-weight: bold;
}


.bar-workspaces box {
  background: #202020;
  color: #EECCAA;
  border-radius: 0.5rem;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.bar-current-workspace box {
  background: #303030;
  font-weight: bold;
  border: 1px solid #EEAA99;
  border-radius: 0.5rem;
}

.bar-mpris {
  color: #404040;
}

.bar-mpris-exist-player {
  color: #DD99EE;
}

menu {
  background: rgba(30, 30, 30, 0.8);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

menu menuitem {
  color: #E0C0E0;
}

menu menuitem:hover {
  color: #E080E0;
}

tooltip {
  background: rgba(30, 30, 30, 0.8);
  padding: 0.1rem;
  border-radius: 0.5rem;
  color: #E0C0E0;
}

.bar-systemtray-exist {
  background: #202020;
  border-radius: 0.5rem;
  color: #E0E0E0;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.bar-systemtray-item {
  background: #404040;
  border-radius: 1rem;
  color: #D090A0;
  padding: 0.5rem;
  margin: 0 0.05rem 0 0.05rem;
}


.popups {
  background: rgba(30, 30, 30, 0.8);
  padding: 1rem;
  border-radius: 1rem;
}

.popups scale {
  padding: 0 0.5rem 0 0.5rem;
}

.popups scale > contents > trough {
  background: #303030;
  border-radius: 1rem;
  min-width: 100px;
  min-height: 1rem;
}

.popups scale > contents > trough > highlight {
  background: #EEAAEE;
  border-radius: 1rem 0 0 1rem;
  min-height: 1rem;
}

.popups scale > contents > trough > slider {
  background: #EEEEEE;
  border-radius: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}


.notification-popups {
  background: transparent;
  margin: 1rem;
  min-width: 0;
  min-height: 0;
}

.notification-icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.notification-icon image {
  font-size: 4rem;
  margin: 5px;
  color: #EEAAEE;
}

.notification-icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification-popup {
  min-width: 350px;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #EEAAEE;
  background: #202020;
}

.notification-critical {
  border: 1px solid #EE9999;
}

.notification-title {
  color: #EE55EE;
  font-size: 1.4rem;
}

.notification-body {
  color: #A090C0;
}

.notification-actions .notification-action-button {
  margin: 0 0.4rem;
  margin-top: 0.8rem;
}

.notification-actions .notification-action-button:first-child {
  margin-left: 0;
}

.notification-actions .notification-action-button:last-child {
  margin-right: 0;
}


.player {
  padding: 10px;
  min-width: 350px;
  background: rgba(20, 20, 20, 0.5);
  border-radius: 1rem;
}

.player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  margin-right: 1em;
}

.player .title {
  font-size: 1.2em;
}

.player .artist {
  font-size: 1.1em;
  color: #DDEEDD;
}

.player scale {
  padding: 0;
  margin-bottom: .3em;
  background: #404040;
}

.player scale trough {
  min-height: 8px;
}

.player scale highlight {
  background: #408840;
}

.player scale slider {
  all: unset;
}

.player button {
  min-height: 1em;
  min-width: 1em;
  padding: .3em;
}

.player button.play-pause {
  margin: 0 .3em;
}
