@import "./bar/bar.css";
@import "./popups/popups.css";
@import "./notifications/notifications.css";
@import "./media/media.css";

* {
  all: unset;
  font-family: "ComicShannsMono Nerd Font";
  font-size: 1.5rem;
}

menu {
  background: rgba(30, 30, 30, 0.8);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

menu menuitem {
  background: rgba(50, 50, 50, 0.8);
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  color: #E0C0E0;
}

menu menuitem:hover {
  background: rgba(70, 70, 70, 0.9);
  color: #E080E0;
}

tooltip {
  background: rgba(30, 30, 30, 0.8);
  padding: 0.1rem;
  border-radius: 0.5rem;
  color: #E0C0E0;
}
