:root {
    --custom-browser-opacity: 0.7;
    --custom-background-opacity: 0.5;
    --custom-selected-tab-opacity: 0.4;
    --custom-tab-opacity: 0.2;
    --custom-nav-bar-opacity: 0.7;
    --custom-personal-tool-bar-opacity: 0.7;
}

hbox#browser {
    background-color: transparent !important;
    background-image: none !important;
}

vbox.browserContainer {
    background-color: transparent !important;
    background-image: none !important;
}

browser {
    background-color: transparent !important;
    background-image: none !important;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: var(--toolbox-bgcolor) !important;
    background-image: var(--lwt-additional-images) !important;
    background-size: cover;
    background-position: center;
    opacity: var(--custom-background-opacity) !important;
    z-index: -1;
    pointer-events: none;
}

#urlbar .urlbar-background {
    background-color: rgba(20, 20, 20, var(--custom-browser-opacity)) !important;
}

body {
    background-color: rgba(20, 20, 20, var(--custom-browser-opacity)) !important;
    background-image: none !important;
}

tab.tabbrowser-tab vbox.tab-background {
    opacity: var(--custom-tab-opacity) !important;
}
tab.tabbrowser-tab[selected="true"] vbox.tab-background {
    opacity: var(--custom-selected-tab-opacity) !important;
}

toolbar#nav-bar {
    opacity: var(--custom-nav-bar-opacity) !important;
}

toolbar#PersonalToolbar {
    opacity: var(--custom-personal-tool-bar-opacity) !important;
}
