.bar {
  color: #DDDDDD;
  background: rgba(20, 20, 20, 0.7);
}

.time {
  color: #DDDD00;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}

.calendar {
  color: #DDDD00;
  background: rgba(20, 20, 20, 0.7);
  font-weight: bold;
  border-radius: 0.5rem;
}


.battery {
  color: #EEEEEE;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}

.battery-critical {
  color: #EE2222;
}

.battery-low {
  color: #EEAA22;
}

.battery-middle {
  color: #22AA22;
}

.battery-high {
  color: #22EE22;
}


.net {
  color: #6666DD;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}

.bar-workspaces > .bar-workspace {
  color: #DD9999;
  background: #664400;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  margin: 0.1 0.1rem 0.1 0.1rem;
  border-radius: 0.3rem;
}

.bar-workspaces > .bar-current-workspace {
  color: #DD5555;
  background: #886600;
}

.bar-window-name {
  color: #DDDDDD;
  background: #302040;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

.bar-bluetooth-status {
  color: #2222BB;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}


.bar-audio-label {
  color: #EEEEAA;
}

.bar-audio-scale > contents > trough {
  background: #303030;
  border-radius: 1rem;
  min-width: 100px;
  min-height: 1rem;
}

.bar-audio-scale > contents > trough > highlight {
  background: #EEEEAA;
  border-radius: 1rem;
  min-height: 1rem;
}

.bar-audio-scale > contents > trough > slider {
  background: #EEEEEE;
  border-radius: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}
