.bar {
  color: #DDDDDD;
  background: rgba(20, 20, 20, 0.7);
}

.time {
  color: #DDDD00;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}

.calendar {
  color: #DDDD00;
  background: rgba(20, 20, 20, 0.7);
  font-weight: bold;
  border-radius: 0.5rem;
}


.battery {
  color: #EEEEEE;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}

.battery-critical {
  color: #EE2222;
}

.battery-low {
  color: #EEAA22;
}

.battery-middle {
  color: #22AA22;
}

.battery-high {
  color: #22EE22;
}


.net {
  color: #6666DD;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}

.workspaces > .workspace {
  color: #DD9999;
  background: #664400;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

.workspaces > .current-workspace {
  color: #DD5555;
  background: #886600;
}

.window-name {
  color: #DDDDDD;
  background: #504060;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

.bluetooth-status {
  color: #2222BB;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}


.audio-volume scale > contents > trough {
  background: #303030;
  border-radius: 1rem;
  min-width: 70px;
  min-height: 1rem;
}

.audio-volume scale > contents > trough > highlight {
  background: #AAAADD;
  border-radius: 1rem;
  min-height: 1rem;
}

.audio-volume scale > contents > trough > slider {
  background: #EE0000;
  border-radius: 1rem;
  min-width: 1rem;
  min-height: 1rem;
}
