$font: "ComicShannsMono Nerd Font";

window#Popups {
  .popups {
    font-family: $font;
    font-size: 1.5rem;
    background: rgba(30, 30, 30, 0.8);
    padding: 1rem;
    border-radius: 1rem;
    scale {
      padding: 0 0.5rem 0 0.5rem;
      contents > trough {
        background: #303030;
        border-radius: 1rem;
        min-width: 100px;
        min-height: 1rem;
        highlight {
          background: #EEAAEE;
          border-radius: 1rem 0 0 1rem;
          min-height: 1rem;
        }
        slider {
          background: #EEEEEE;
          border-radius: 1rem;
          min-width: 1rem;
          min-height: 1rem;
        }
      }
    }
  }
}
