$font: "ComicShannsMono Nerd Font";

window.Bar {
  .bar {
    color: #E0E0E0;
    border-radius: 0.2rem;
    min-height: 2.5rem;
    padding: 0.25rem;
    font-family: $font;
    font-size: 1.5rem;
    background: rgba(20, 20, 20, 0.7);
  }

  .bar-clock {
    color: #AAEEDD;
    margin: 0 0.4rem 0 0.4rem;
  }

  .bar-battery {
    margin: 0 0.4rem 0 0.4rem;
  }
  .bar-battery-critical {
    color: #EE2222;
  }
  .bar-battery-low {
    color: #EEAA22;
  }
  .bar-battery-middle {
    color: #22AA22;
  }
  .bar-battery-high {
    color: #22EE22;
  }
  .bar-battery-profile-power-saver {
    color: #44DDCC;
  }

  .bar-network {
    color: #6666DD;
    margin: 0 0.4rem 0 0.4rem;
  }

  .bar-bluetooth {
    color: #3636EE;
    margin: 0 0.4rem 0 0.4rem;
  }

  .bar-audio {
    color: #CCAA88;
    margin: 0 0.4rem 0 0.4rem;
  }

  .bar-title {
    color: #CCCCCC;
    font-weight: bold;
  }

  .bar-workspace {
    background: #202020;
    color: #888888;
    border-radius: 0.1rem;
    padding: 0 1.0rem 0 1.0rem;
    margin: 0.1rem 0.2rem 0.1rem 0.2rem;
  }
  .bar-current-workspace {
    background: #303030;
    font-weight: bold;
    color: #ACACAC;
    border: 1px solid #999999;
  }

  .bar-mpris {
    color: #404040;
    margin: 0 0.4rem 0 0.4rem;
  }
  .bar-mpris-exist-player {
    color: #DD99EE;
  }

  .bar-systemtray-exist {
    background: #202020;
    border-radius: 0.1rem;
    color: #E0E0E0;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    margin: 0.1rem 0.2rem 0.1rem 0.2rem;
  }
  .bar-systemtray-item {
    background: #404040;
    border-radius: 0.1rem;
    color: #D090A0;
    padding: 0.5rem;
    margin: 0.2rem 0.05rem 0.2rem 0.05rem;
  }

  .bar-notifications {
    color: #CCCCCC;
    margin: 0 0.4rem 0 0.4rem;
  }
  .bar-notifications-exist {
    color: #CCAACC;
  }
}
