[Desktop Entry]
Version=1.0
Type=Application
Name=Neovim (kitty)
GenericName=Text editor
Comment=Fast, feature-rich, GPU based terminal running nvim
TryExec=kitty
StartupNotify=true
Exec=kitty --execute nvim
Icon=nvim
Categories=System;TerminalEmulator;Utility;TextEditor;
