@theme "gruvbox-dark-hard"

configuration {
  modi: "window,drun,run,system:~/.config/rofi/system.sh";
  sidebar-mode: true;
  font: "ComicShannsMono Nerd Font Mono 14";
}

window {
  background-color: @background-alt;
  width:            50%;
  height:           75%;
  fullscreen:       false;
  border:           1px;
  border-radius:    10px;
  padding:          0 0 10px 0;
  border-color:     @border-color;
}
