.bar {
  color: #DDDDDD;
  background: rgba(20, 20, 20, 0.7);
}

.time {
  color: #DDDD00;
  background: #333388;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

.calendar {
  color: #DDDD00;
  background: rgba(20, 20, 20, 0.7);
  font-weight: bold;
  border-radius: 0.5rem;
}

.battery {
  color: #9999DD;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

.battery-charging {
  background: #008822;
}

.battery-discharging {
  background: #005500;
}

.net {
  color: #444444;
  background: #6666DD;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

.workspaces > .workspace {
  color: #DD9999;
  background: #886600;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

.workspaces > .current-workspace {
  color: #DD5555;
  background: #664400;
}

.window-name {
  color: #DDDDDD;
  background: #504060;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

.bluetooth-status {
  color: #448844;
  background: #000099;
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}
