.audio-window {
  color: #DDDD00;
  background: rgba(20, 20, 20, 0.8);
}

.audio-title {
  color: #DDDDDD;
  font-weight: bold;
}

.audio-volume {
  color: #DDDD00;
}

.audio-progress {
  margin: 0 1rem 1rem 1rem;
}

.audio-progress > trough {
  background: #303030;
  border-radius: 1rem;
  min-height: 1rem;
}

.audio-progress > trough > progress {
  background: #AAAADD;
  border-radius: 1rem;
  min-height: 1rem;
}
